
.project-con{
    background: rgb(255, 255, 255);
    margin-top: -20px;
    padding-bottom: 50px;    
}
.featured-head{
    padding-top: 3rem;
    margin-left: 5rem;
    padding-bottom: 30px;
    color: rgb(79, 150, 77);
}
@media screen and (max-width: 576px) {
    .featured-head{
        margin-left: 0;
        text-align: center;
        color: rgb(16, 245, 8);
    }
        
  }
.projects-container{
 margin: 0 70px;
// padding-bottom: 120px;
}
@media screen and (max-width: 576px) {
    .projects-container{
        margin: 0 35px;
       // padding-bottom: 120px;
       }
        
  }
.projects-car{
    background-color:#131212fd;
color:#a1c6eb;;
}

.card-content{
    background-color: #000000;
}
.view-all{
    padding-top: 140px;
    padding-left: 50px;
    text-align: center;
    
}
@media screen and (max-width: 576px) {
    .view-all{
        padding-top: 40px;
        padding-left: 50px;
    }
        
  }

.button{
    height: 37px;
    width: 80px;
}
.button button{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(5, 248, 37);
    background: rgb(8, 218, 54);
    color: #fff;
    outline: none;
    font-size: medium;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button button:hover{
    color: rgb(10, 243, 80);
    background: none;
}
.button2{
    height: 37px;
    width: 120px;
}
.button2 button{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(5, 248, 37);
    background: rgb(8, 218, 54);
    color: #fff;
    outline: none;
    font-size: medium;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button2 button:hover{
    color: rgb(10, 243, 80);
    background: none;
}